<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554619719418-0hdrkdprcsksigpldvtr9n5lu2lvt5kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554619719418-0hdrkdprcsksigpldvtr9n5lu2lvt5kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554619719418-4r2n02ot9ohq2v3jfu98ecgtp5rdtdai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYeBSRPPSEWyZtXwFsx6zYVyKru_00ZQM</string>
	<key>GCM_SENDER_ID</key>
	<string>554619719418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elex.girlsthrone.tw</string>
	<key>PROJECT_ID</key>
	<string>api-project-74714396</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-74714396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554619719418:ios:e4d81a0f3ebd396d1bc343</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-74714396.firebaseio.com</string>
</dict>
</plist>