/TestProject/Library
/TestProject/Temp
/TestProject/obj
/TestProject/.vs/TestProject/v16
/TestProject/Assembly-CSharp-firstpass.csproj
/TestProject/Assembly-CSharp.csproj
/TestProject/Assembly-CSharp-Editor.csproj
/TestProject/Assets/StreamingAssets.meta
/TestProject/Assets/StreamingAssets
/TestProject/.vs
