<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.elex.girlsthrone.tw.gp" xmlns:tools="http://schemas.android.com/tools" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:isGame="true" android:usesCleartextTraffic="true">
    <activity android:label="@string/app_name" android:screenOrientation="portrait" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density" android:hardwareAccelerated="false" android:name="celia.sdk.CeliaActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="celia.sdk.CeliaActivity" android:value="true" />
    </activity>
    <meta-data android:name="unity.build-id" android:value="1cdb9542-baa1-44b6-8491-6e8698e4bc30" />
    <meta-data android:name="unity.splash-mode" android:value="0" />
    <meta-data android:name="unity.splash-enable" android:value="True" />
    <!--AIHelp SDK -需要的刘海屏适配 -->
    <!--google刘海适配-->
    <meta-data android:name="android.max_aspect" android:value="2.1" />
    <!--小米手机开启刘海适配-->
    <meta-data android:name="notch.config" android:value="portrait|landscape" />
    <!--需要的Activity-->
    <activity android:name="com.ljoy.chatbot.ChatMainActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:theme="@style/BaseUnityTheme" android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity android:name="com.ljoy.chatbot.OPActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:theme="@style/BaseUnityTheme" android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity android:name="com.ljoy.chatbot.FAQActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:theme="@style/BaseUnityTheme" android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity android:name="com.ljoy.chatbot.WebViewActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:theme="@style/BaseUnityTheme" android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity android:name="com.ljoy.chatbot.QAWebActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:theme="@style/BaseUnityTheme" android:windowSoftInputMode="adjustResize|stateHidden" />
    <!--AIHelp SDK需要的Activity -->
    <!--Adjust SDK-->
    <receiver android:name="com.adjust.sdk.AdjustReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <!--Adjust SDK End-->
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="949004278872387" />
    <activity android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
    <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="fb949004278872387" />
      </intent-filter>
    </activity>
  </application>
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <!-- 上传表单图片的时候需要此权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- 上传表单图片的时候需要此权限 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
</manifest>