<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.rastargame.sndwz</key>
		<string>sndwz_dis_0927</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<false/>
	<key>teamID</key>
	<string>Z67D6RDGWU</string>
    <key>pakageName</key>
    <string>com.rastargame.sndwz</string>
    <key>provisioningProfileID</key>
    <string>e3f2977a-aa3b-4da3-8877-ab0f175d9347</string>
</dict>
</plist>
